* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color:  #301934;
	font-family: 'Montserrat', sans-serif;
}

#bgcon {
background-color: #f9f9ff;
opacity: 1;
background: repeating-linear-gradient( 45deg, #d2d4ff, #d2d4ff 5px, #f9f9ff 5px, #f9f9ff 25px );}

.footer{
	background-color: #a2c8ec;
}

.footer__head{
	font-weight: bold;
}

.navbar{
	background-color: #a2c8ec;
	font-weight: bold;;
	color: #301934;
}

.container-fluid{
	margin:  20px;
	padding:  10px;
	justify-content: center;
}

h1 {
	opacity: 100%;
}

.jumbotron{
	 background: url("./../picref/bg.jpg") no-repeat center center; 
	 height: 100%;
	 width: 100%;
	 display: inline-block;
	 min-height: 478px;
}


.row {
	display: flex;
	justify-content: center;
}

.display-4{
	font-weight: 900;
	background:  linear-gradient(90deg, #f9b0c3, #ceb6d9);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 2px #301934;

}

.description{
	font-weight: bold;
	font-size:  20px;
	padding: 20px;
	margin:  20px;
}
.homeSignUp{
	background: #301934;
	color: #f9b0c3;
	border-color: #301934;
	font-weight: bold;
	font-style: italic;
	padding: 20px;
	border: 20px;
	margin:  20px;
}


@media (min-width: 320px){
	.display-4{
		font-size: 25px;
	}
	.description{
		margin: 0px;
		padding: 0px;
		font-size: 15px;
	}
	.homeSignUp{
		display: inline-block;
		margin-top: 30px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	#carouselId{
		margin-top: 20px;
	}
	.icon {
		padding-left: 10px;
		width: 50px;
	}

	.jumbotron {
		min-height: 300px;
	}
	.footer__head {
		font-size: 15px;
	}
}

@media (min-width: 768px){
	.display-4{
			font-size: 60px;
		}
		.description{
			margin: 0px;
			padding: 0px;
			font-size: 40px;
		}
		.homeSignUp{
			display: inline-block;
			margin-top: 40px;
			padding-top: 20px;
			padding-bottom: 10px;
			font-size: 20px;
		}
		#carouselId{
			margin-top: 20px;
		}
		.icon {
			padding-left: 20px;
			width: 100px;
		}

		.jumbotron {
			min-height: 500px;

		}
		.footer__head {
			font-size: 20px;
		}
	}
}